body {
    background-color: white;
    /* background-color: white; */
    /* As IE6 ignores !important it will set width as 1000px; */
    min-width: 590px;

}


.gameWindow {
    display: flex;
    left: auto;
    height: auto;
    width: 100%;
    margin: 5px 20w;
}

#board {
    position: absolute;
    height: 80vh;
    width: 93vh;
    box-shadow: #4CAF50;
    border-radius: 5vh;
    left: calc((100vw - 795px)/2);
    top: calc(25vh);

}

button {
    background-color: #4CAF50;
    border: 0.1vw solid green;
    color: white;
    text-align: center;
    font-size: auto;
    cursor: pointer;
    width: calc(95vw / 4);
    height: 5vh;
}

.buttons {
    display: flex;
    left: auto;
    height: auto;
    width: 100%;
    margin: 5px 20px;

}

.buttons button:hover {
    background-color: #89df8c
}

.yellowPiece,
.redPiece {
    height: 8vh;
}

.downyellowPiece,
.downredPiece {
    height: 6vh;
}


.circle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    left: calc((100vw - (590px))/2);
    top: calc(25vh + 10px);
    /* z-index: 2; */
    border-color: green;
    border-width: 1px;
    border-style: groove;
}

#piecesholder1 {
    left: calc((100vw - (950px))/2);
}

#piecesholder2 {
    left: calc((100vw + (700px))/2);
}

#piecesholder1,
#piecesholder2 {
    top: calc(35vh);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 6vh;
}