
/* cool colors from: https://www.colorzilla.com/gradient-editor/ */
/* https://semantic-ui.com/elements/icon.html#audio--video */
body {
    background-color: white;
    margin: 0;
    width: 100vw;
    height: 100vh; 
    min-width: 1920px;
    min-height: 1080px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,141682+13,141682+13,141682+27,141682+39,141682+82,2725c4+97,7db9e8+100 */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(30,87,153) 0%, rgb(20,22,130) 13%, rgb(20,22,130) 13%, rgb(20,22,130) 27%, rgb(20,22,130) 39%, rgb(20,22,130) 82%, rgb(39,37,196) 97%, rgb(125,185,232) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(30,87,153) 0%,rgb(20,22,130) 13%,rgb(20,22,130) 13%,rgb(20,22,130) 27%,rgb(20,22,130) 39%,rgb(20,22,130) 82%,rgb(39,37,196) 97%,rgb(125,185,232) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(30,87,153) 0%,rgb(20,22,130) 13%,rgb(20,22,130) 13%,rgb(20,22,130) 27%,rgb(20,22,130) 39%,rgb(20,22,130) 82%,rgb(39,37,196) 97%,rgb(125,185,232) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

/* From https://css.glass */
background: rgba(93, 38, 5, 0.8);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(93, 38, 5, 0.3);
}

#gameArea{
 display: flex;
 flex-wrap: wrap;
 margin-left: 560px;
 margin-right: 560px;
 margin-top: 20px;

}

#board{
    width: 800px;
    height: 800px;
    background-color: rgb(92, 24, 24);
    display: flex;
    flex-wrap: wrap;
    padding: 7px;

    border-radius: 20px;
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
background: rgb(240,183,161); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(240,183,161) 0%, rgb(140,51,16) 50%, rgb(117,34,1) 51%, rgb(191,110,78) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(240,183,161) 0%,rgb(140,51,16) 50%,rgb(117,34,1) 51%,rgb(191,110,78) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(240,183,161) 0%,rgb(140,51,16) 50%,rgb(117,34,1) 51%,rgb(191,110,78) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
 
box-shadow:
		0px 4px 4px rgba(000,000,000,0.5),
		inset 4px 4px 4px rgba(255,255,255,0.4);
	text-shadow:
		1px 1px 2px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.4);

        

}

.circle {
   
    background-color: white;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    border-color: gold;
    border-width: 4px;
    border-style: groove;
    margin: 7px 7px 7px 7px;

    
background-color: rgb(80, 24, 24);
    
    /* position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    left: calc((100vw - (590px))/2);
    top: calc(20vh + 10px);
    border-color: green;
    border-width: 1px;
    border-style: groove; */

    /* position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    left: calc((10vw - (95px))/2);
    top: calc(20vh + 10px);
    border-color: green;
    border-width: 1px;
    border-style: groove; */
}
/* .gameWindow {
    display: flex;
    left: auto;
    height: auto;
    width: 100%;
    margin: 5px 20w;
} */

/* #board {
    position: absolute;
    height: 85vh;
    width: auto;
    box-shadow: #4CAF50;
    border-radius: 5vh;
    left: calc((100vw - 795px)/2);
    top: calc(20vh);

} */


/* button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
} */
.buttons{
    margin: 0px 160px 75px 160px;
    display: flex;
}
button {
    border: 0.1vw solid  rgb(80, 24, 24);
    color: rgb(80, 24, 24); 
    text-align: center;
    -webkit-text-stroke:  gold;
    -webkit-text-fill-color: rgb(80, 24, 24);
    -webkit-text-stroke-width: 0.5px;
    font-size: 50px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
background: rgb(240,183,161); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(240,183,161) 0%, rgb(140,51,16) 50%, rgb(117,34,1) 51%, rgb(191,110,78) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(240,183,161) 0%,rgb(140,51,16) 50%,rgb(117,34,1) 51%,rgb(191,110,78) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(240,183,161) 0%,rgb(140,51,16) 50%,rgb(117,34,1) 51%,rgb(191,110,78) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
 
box-shadow:
0px 4px 4px rgba(000,000,000,0.5),
inset 4px 4px 4px rgba(255,255,255,0.4);
text-shadow:
1px 1px 2px rgba(000,000,000,0.7),
0px 1px 0px rgba(255,255,255,0.4);

   
}
#MAIN_MENU{
    width: 120px;
    height: 70px;
    font-size: 30px;
    -webkit-text-stroke:  gold;
    -webkit-text-fill-color: rgb(80, 24, 24);
    font-weight: bolder;
    -webkit-text-stroke-width: 0.3px;

}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 90px 0 rgba(0,0,0,0.19);
}






